# =============================
# PYTHON

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =============================
# VIRTUAL ENV

venv/
.env/
.envrc/

# =============================
# STREAMLIT CACHE

.streamlit/

# =============================
# MODEL FILES (IMPORTANT)

# Local trained models (keep if needed, else ignore)
# models/local-trained/*.keras

# Pretrained models (auto-downloaded)

models/pre-trained/*
!models/pre-trained/.keep

# =============================
# TRAINING ARTIFACTS

*.h5
*.ckpt
*.weights
*.keras

# =============================
# OUTPUT FILES

colorized_images/
*.png
*.jpg
*.jpeg

# =============================
# DATASETS / ARCHIVES

*.tar.gz
*.zip
data/

# =============================
# JUPYTER

.ipynb_checkpoints/

# =============================
# SYSTEM FILES

.DS_Store
Thumbs.db

# =============================
# IDE / EDITORS

.vscode/
.idea/

# =============================
# LOGS

*.log

# =============================
# MISC

*.bak
*.tmp